<section class="hero-section">
    <div class="hero-image-container">
        <img [ngSrc]="backgroundImage" [priority]="priority" fill alt="" class="hero-img" (load)="onImageLoad()">
    </div>
    <div class="hero-overlay"></div>

    <div class="hero-container">
        <div class="hero-content" appReveal>
            <h1 class="hero-title">{{ title }}</h1>
            <p class="hero-description">{{ description }}</p>
            <app-action-button [text]="buttonText" (onClick)="openModal()"></app-action-button>
        </div>
    </div>
</section>