<section id="projects-section" class="projects-section">
    <div class="container">
        <header class="section-header">
            <h2 class="section-title text-raleway-semibold-40">Proyectos</h2>
            <p class="section-description text-raleway-light-20">
                Mas de 35 años ofreciendo soluciones concretas a complejos requerimientos, a través de un
                "Asesoramiento Técnico Personalizado" para el análisis, desarrollo, seguimiento y asistencia
                de proyectos y obras.
            </p>
        </header>

        <app-projects-gallery></app-projects-gallery>
    </div>
</section>