@use 'index' as *;

.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

html {
    scroll-behavior: smooth;
}

body {
    min-width: 360px;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

#projects {
    scroll-margin-top: 20px;
}

#mining {
    scroll-margin-top: 10px;
}

#contact {
    scroll-margin-top: 120px;
}

#services {
    scroll-margin-top: 70px;
}