@use 'index' as *;

html {
    scroll-behavior: smooth;
}

body {
    min-width: 360px;
}

#projects {
    scroll-margin-top: 20px;
}

#mining {
    scroll-margin-top: 10px;
}

#contact {
    scroll-margin-top: 50px;
}

#services {
    scroll-margin-top: 70px;
}